body {
  font-family: Arial, sans-serif;
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}
#inputContainer {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f4f4f4;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
table {
  margin: 60px auto 0;
  border-collapse: collapse;
  width: 80%;
  text-align: center;
}
th,
td {
  border: 1px solid #ddd;
  padding: 10px;
}
th {
  background-color: #f4f4f4;
}
.red {
  background-color: red;
  color: white;
}
.black {
  background-color: black;
  color: white;
}
.green {
  background-color: green;
  color: white;
}
.blue {
  background-color: blue;
  color: white;
}
.yellow {
  background-color: yellow;
  color: black;
}
.orange {
  background-color: orange;
  color: white;
}
.purple {
  background-color: purple;
  color: white;
}
#clearButton {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
#clearButton:hover {
  background-color: #e60000;
}
.clear{
margin: 30px auto;
display: flex;
  justify-content: center;
  align-items: center;
}